{{!--{{tool-bar options=model.sections}}--}}

{{!-- Template for mobile ~ 834px and below --}}
<section class="issues issues--mobile" style="display: none;">
    {{#each model.issues as |issue|}}
    <div class="issue">
        {{issue-detail title="Customer Name" body=issue.customer_name}}

        {{issue-detail title="Customer Email" body=issue.customer_email}}

        {{issue-detail title="Description" body=issue.description}}

        {{issue-detail title="Status" body=issue.status}}

        {{issue-detail title="Opened At" body=issue.opened_at}}

        {{issue-detail title="Closed At" body=issue.closed_at}}

        {{issue-detail title="Handling Employee" body=issue.handling_employee}}
    </div>
    {{/each}}
</section>

{{issues-table sections=model.sections issues=model.issues}}


{{outlet}}
