{{tool-bar options=model.sections}}

<section class="issues" style="display: none;">
    {{#each model.issues as |issue|}}
    <div class="issue">
        <div class="issue__detail">
            <h3 class="issue__heading">Customer Name</h3>

            <p class="issue__body">{{issue.customer_name}}</p>
        </div>

        <div class="issue__detail">
            <h3 class="issue__heading">Customer Email</h3>

            <p class="issue__body">{{issue.customer_email}}</p>
        </div>

        <div class="issue__detail">
            <h3 class="issue__heading">Description</h3>

            <p class="issue__body">{{issue.description}}</p>
        </div>

        <div class="issue__detail">
            <h3 class="issue__heading">Status</h3>

            <p class="issue__body">{{issue.status}}</p>
        </div>

        <div class="issue__detail">
            <h3 class="issue__heading">Opened At</h3>

            <p class="issue__body">{{issue.opened_at}}</p>
        </div>

        <div class="issue__detail">
            <h3 class="issue__heading">Closed At</h3>

            <p class="issue__body">{{issue.closed_at}}</p>
        </div>

        <div class="issue__detail">
            <h3 class="issue__heading">Handling Employee</h3>

            <p class="issue__body">{{issue.handling_employee}}</p>
        </div>
    </div>
    {{/each}}
</section>

<table class="">
    <tbody>
        {{#each model.issues as |issue|}}
        <tr>
            <td>{{issue.customer_name}}</td>
            <td>{{issue.customer_email}}</td>
            <td>{{issue.description}}</td>
            <td>{{issue.status}}</td>
            <td>{{issue.opened_at}}</td>
            <td>{{issue.closed_at}}</td>
            <td>{{issue.handling_employee}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{outlet}}
