{{tool-bar options=model.sections}}

{{!-- Template for mobile ~ 834px and below --}}
<section class="issues issues--mobile" style="display: none;">
    {{#each model.issues as |issue|}}
    <div class="issue">
        {{issue-detail title="Customer Name" body=issue.customer_name}}

        {{issue-detail title="Customer Email" body=issue.customer_email}}

        {{issue-detail title="Description" body=issue.description}}

        {{issue-detail title="Status" body=issue.status}}

        {{issue-detail title="Opened At" body=issue.opened_at}}

        {{issue-detail title="Closed At" body=issue.closed_at}}

        {{issue-detail title="Handling Employee" body=issue.handling_employee}}
    </div>
    {{/each}}
</section>

{{!-- Template for desktop ~ 834px and above --}}
<table class="issues issues--table">
    <tbody>
        {{#each model.issues as |issue|}}
        <tr class="issue">
            <td>{{issue.customer_name}}</td>
            <td>{{issue.customer_email}}</td>
            <td>{{issue.description}}</td>
            <td>{{issue.status}}</td>
            <td>{{issue.opened_at}}</td>
            <td>{{issue.closed_at}}</td>
            <td>{{issue.handling_employee}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{outlet}}
