{{!--{{tool-bar options=model.sections}}--}}

{{!-- Template for mobile ~ 834px and below --}}
<section class="issues issues--mobile" style="display: none;">
    {{#each model.issues as |issue|}}
    <div class="issue">
        {{issue-detail title="Customer Name" body=issue.customer_name}}

        {{issue-detail title="Customer Email" body=issue.customer_email}}

        {{issue-detail title="Description" body=issue.description}}

        {{issue-detail title="Status" body=issue.status}}

        {{issue-detail title="Opened At" body=issue.opened_at}}

        {{issue-detail title="Closed At" body=issue.closed_at}}

        {{issue-detail title="Handling Employee" body=issue.handling_employee}}
    </div>
    {{/each}}
</section>

{{!-- Template for desktop ~ 834px and above --}}
<table class="issues issues--table stack">
    <thead>
        <tr>
            <td class="issue-heading button">Customer Name</td>
            <td class="issue-heading button">Customer Email</td>
            <td class="issue-heading button">Description</td>
            <td class="issue-heading button">Status</td>
            <td class="issue-heading button">Opened At</td>
            <td class="issue-heading button">Closed At</td>
            <td class="issue-heading button">Handling Employee</td>
        </tr>
    </thead>
    <tbody>
        {{#each model.issues as |issue|}}
        <tr class="issue">
            <td>{{issue.customer_name}}</td>
            <td>{{issue.customer_email}}</td>
            <td>{{issue.description}}</td>
            <td>{{if issue.status "Open" "Closed"}}</td>
            <td>{{format-date issue.opened_at}}</td>
            <td>{{format-date issue.closed_at}}</td>
            <td>{{issue.handling_employee}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{outlet}}
